<!DOCTYPE html>
<html>
<head>
	<title>Security Awareness Report Generator</title>
</head>
<body>
	<h1>Security Awareness Report Generator</h1>
	<form action="{{ url_for('generate_report') }}" method="POST" enctype="multipart/form-data">
		{{ csrf_token() }}  <!-- Include the CSRF token -->
		<label for="file">Upload Excel file:</label>
		<input type="file" name="file" id="file" required><br><br>
		<input type="submit" value="Generate Report">
	</form>
	<br><br>
	{% if download_link %}
        <a href="{{ download_link }}">Download Report</a>
	{% endif %}
</body>
</html>
